button.btnAdd {
    margin-bottom: 1rem;
}

.link-nav {
    text-decoration: none;
}

.icons-a {
    color: #3296D1;
}

.icons-d {
    color: #DE2058;
}

.icons:hover {
    color: #000;
}

@media (min-width:600px) {
    .usr_main {
        margin-top: 3rem;
        margin-left: 10rem;
    }
}