.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.backgroundTitle {
  min-height: 200px;
  min-width: 100%;
  margin: 0 -2rem;
  background: tomato;
}

.footer {
  background: lightgreen;
}

.mainArticle {
  text-align: justify;
  line-height: 2rem;
  font-weight: 400;
  margin: 2 7rem;
  
}

.imageContainer{
  display: flex;
  justify-content: space-around;    
}

.image1{
  margin: 10px;
  align-self: center;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}



