.mid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.tstng {
    display: none;
}

.icons-a {
    color: #3296D1;
}

.icons-d {
    color: #DE2058;
}

.icons:hover {
    color: #000;
}

@media (min-width:600px) {
    .mid {
        margin-top: 3rem;
        margin-left: 10rem;
    }
}