.dashboard-header {
    width: 100vw;
    position: relative;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.burgerNav {
    right: 1.5rem;
}

.hide {
    left: -36%;
}

.show {
    left: 0%;
}

.dashboard-header>h1 {
    font-size: 24px;
}

.dashboard-header>.rnp-logo {
    height: 100%;
    width: 150px;
    object-fit: cover;
}

.user-img {
    width: 50px;
    height: 50px;
    position: sticky;
}

.auth-user {
    position: relative;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.user-img>.person-circle {
    width: 100%;
    height: 100%;
    color: #eee;
}

.dashboard-nav {
    transition: all .5s;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #454545;
}

.dash-nav-items {
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
}

.dash-nav-item {
    list-style: none;
}

.dash-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #888 !important;
    font-size: 16px;
}

.dash-nav-link:hover {
    transition: transform 400ms ease;
    transform: translateY(-3px);
}

.dash-nav-link>.iconify {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.btn-logout {
    background-color: #FC1F00;
    padding: 10px 20px;
    width: 100px;
    border-radius: 50px;
    border: none;
    font-weight: 900;
    color: #eee !important;
    cursor: pointer;
    text-decoration: none;
}

.dashboard-logout-section:hover {
    transition: transform 400ms ease;
    transform: translateY(-3px);
}

.active-dash {
    color: rgba(8, 148, 249, .8) !important;
}

.dashboard-content-section {
    margin-left: 150px;
    width: calc(100% - 150px);
    height: calc(100vh - 80px);
    overflow-y: hidden;
    overflow-y: auto;
    padding: 10px 15px;
    background-color: whitesmoke;
}